<div class="text-center my-4">
  {{> main/userTitle
    displayName=displayName
    race=race
    class=class
  }}
</div>

{{#if messages}}
  <div class="alert alert-{{messages.type}}">
    {{messages.message}}
  </div>
{{/if}}

<div class="d-flex justify-content-around my-4">
  <p class="mb-0">Level: {{level}}</p>
  <p class="mb-0">Overall Rank: {{overallRank}}</p>
</div>

<div class="row">
  <div class="col-6">
    <div class="card-dark">
    <svg class="rounded" style="text-anchor: middle;" width="100%" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">{{displayName}}</text></svg>
    <div class="my-3 mb-4">
      {{bio}}
    </div>
    <div class="card-header-dark">
    <h6 class="border-bottom border-2 border-light p-2 fw-bold">Status</h6>
    </div>
    <div class="card-body">
    {{#if isOnline}}
      <div class="alert alert-success"><h6>Online</h6></div>
    {{else}}
      <div class="alert alert-danger"><h6>Offline</h6></div>
    {{/if}}
    </div>
    </div>

  </div>
  <div class="col-6">
    {{#if hideSidebar}}
    <div class="list-group mb-4">
      <a href="/recruit/{{recruitLink}}" class="list-group-item list-group-item-action">Recruit this Player</a>
    </div>    
    {{else}}
    <div class="list-group mb-4">
      <a href="#" class="list-group-item list-group-item-action disabled">Message this Player</a>
      <a href="/attack/{{id}}" class="list-group-item list-group-item-action {{#if cantAttack }}disabled{{/if}}">Attack this Player</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Spy Missions</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Transfer Gold</a>
      <a href="/recruit/{{recruitLink}}" class="list-group-item list-group-item-action">Recruit this Player</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Add to Friends List</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Add to Enemies List</a>
    </div>
    {{/if}}
    <table class="table mb-5 table-striped table-dark">
      <thead>
        <tr>
          <th colspan="2">Statistics</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Population</td>
          <td>{{population}}</td>
        </tr>
        <tr>
          <td>Army Size</td>
          <td>{{armySize}}</td>
        </tr>
        <tr>
          <td>Fortification</td>
          <td>{{fortification}}</td>
        </tr>
        <tr>
          <td>Gold</td>
          <td>{{gold}}</td>
        </tr>
      </tbody>
    </table>

    <h6 class="border-bottom border-2 border-dark p-2 fw-bold">Medals</h6>
    {{#if medals}}
      
    {{else}}
      <p class="text-center my-4">No Medals</p>
    {{/if}}

  </div>
</div>
