<table class="table">
  <thead>
    <tr>
      <th class="col-4">{{heading}}</th>
      <th class="col-2">Bonus</th>
      <th class="col-2">You Have</th>
      <th class="col-2">Cost</th>
    </tr>
  </thead>
  <tbody>
      {{#each units as |unit|}}
        {{#if unit.enabled}}
        <tr>
          <td class="align-middle" id={{unit.id}}>{{unit.name}}</td>
          <td class="align-middle">+{{unit.bonus}} {{../heading}}</td>
          <td class="align-middle"><span id='{{unit.id}}_owned'>{{unit.owneditems}}</span></td>
          <td class="align-middle">{{unit.cost}}</td>
        </tr>
        {{else}}
        <tr>
          <td class="align-middle" id={{unit.id}}>{{unit.name}}</td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle" colspan="2" style="text-align: end">Unlocked at Fort Level: {{unit.level}}</td>
        </tr>
        {{/if}}
      {{/each}}
  </tbody>
</table>