<table class="table my-5 table-dark table-striped">
  <thead>
    <tr>
      <th class="col-4">{{heading}}</th>
      <th class="col-2">Bonus</th>
      <th class="col-2">You Have</th>
      <th class="col-2">Cost</th>
      <th class="col-2">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each units as |unit|}}
      {{#if unit.enabled}}
      <tr>
        <td class="align-middle" id={{unit.id}}>{{unit.name}}</td>
        <td class="align-middle">+{{unit.bonus}} {{../heading}}</td>
        <td class="align-middle"><span id='{{unit.id}}_owned'>{{unit.ownedUnits}}</span></td>
        <td class="align-middle">{{unit.cost}}</td>
        <td>
          <input type="number" aria-labelledby={{unit.id}} name={{unit.id}} class="form-control form-control-dark">
        </td>
      </tr>
      {{else}}
      <tr>
        <td class="align-middle" id={{unit.id}}>{{unit.name}}</td>
        <td class="align-middle"></td>
        <td class="align-middle text-center" colspan="3">Unlocked at Fort Level: {{unit.level}}</td>
      </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>