<h1>Overview</h1>
<p><strong>{{displayName}}</strong> is an <strong>{{race}} {{class}}</strong></p>

<h2>Statistics</h2>
<p>Population: {{population}}</p>
<p>Army Size: {{armySize}}</p>
<p>Level: {{level}}</p>
<p>XP to Next Level: {{xpToNextLevel}}</p>
<p>Fort Health: {{fortHealth.current}}/{{fortHealth.max}}({{fortHealth.percentage}}%)</p>
<p>Gold: {{gold}}</p>
<p>Gold Per Turn: {{goldPerTurn}}</p>
<p>Gold in Bank: {{goldInBank}}</p>

<h2>War Statistics</h2>
<p>Offense: 37,863,200</p>
<p>Defense: 750,240</p>
<p>Spy Offense: 0</p>
<p>Spy Defense: 0</p>
<p>Attacks Won: 1416/1440(98%)</p>
<p>Defends Won: 0/66(0%)</p>
<p>Spy Victories: 0</p>
<p>Sentry Victories: 0</p>