<h2>Attack List</h2>
<table class="table table-responsive table-dark table-striped" id="attackList">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Gold</th>
      <th>Army Size</th>
      <th>Level</th>
      <th>Race</th>
    </tr>
  </thead>
  <tbody>
    {{#each players as |player|}}
      <tr {{#if player.is_player}} class="table-primary"{{/if}}>
        <td>{{player.rank}}</td>
        <td><a href="/userprofile/{{player.id}}">{{player.displayName}}</a></td>
        <td>{{player.gold}}</td>
        <td>{{player.armySize}}</td>
        <td>{{player.level}}</td>
        <td>{{player.race}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script>
$(document).ready(function () {
    const table = $('#attackList').DataTable({
      searching: false,
      lengthChange: false,
      pageLength: 50
    });
});
</script>