<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Gold</th>
      <th>Army Size</th>
      <th>Level</th>
      <th>Race</th>
    </tr>
  </thead>
  <tbody>
    {{#each players as |player|}}
      <tr>
        <td></td>
        <td><a href="/userprofile/{{player.id}}">{{player.displayName}}</a></td>
        <td>{{player.gold}}</td>
        <td>{{player.armySize}}</td>
        <td>{{player.level}}</td>
        <td>{{player.race}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
