<div class="card">
  <div class="card-body">
    <h6>Advisor</h6>
    <p class="small">This is a hint, it will rotate out.</p>

    <h6>Stats</h6>
    <ul class="list-unstyled">
      <li>Gold: {{gold}}</li>
      <li>Citizens: {{citizens}}</li>
      <li>Level: {{level}}</li>
      <li>Experience: {{experience}} (next level in {{xpToNextLevel}})</li>
      <li>Turns Available: {{attackTurns}}</li>
    </ul>
  </div>
</div>