<div class="card">
  <div class="card-body">
    <h6 class="text-center">Advisor</h6>
    <p class="small">This is a hint, it will rotate out.</p>

    <h6 class="text-center">Stats</h6>
    <ul class="list-unstyled">
      <li>Gold: {{sidebarData.gold}}</li>
      <li>Citizens: {{sidebarData.citizens}}</li>
      <li>Level: {{sidebarData.level}}</li>
      <li>Experience: {{sidebarData.experience}} (next level in {{sidebarData.xpToNextLevel}})</li>
      <li>Turns Available: {{sidebarData.attackTurns}}</li>
    </ul>
  </div>
</div>