<table class="table table-dark table-striped history">
  <thead>
    <tr>
      <th class="col-2 text-center">DateTime</th>
      <th class="col-2 text-center">Outcome</th>
      <th class="col-3 text-center">{{heading}}</th>
      <th class="col-3 text-center">Pillage and Experience</th>
      <th class="col-3 text-center">Casualties</th>
    </tr>
  </thead>
  <tbody>
    {{#if logs.length}}
      {{#each logs as |log|}}
        <tr>
          <td class="text-center">{{log.timestamp}}</td>
          <td class="text-center">{{log.outcome}}</td>
          <td class="text-center">{{log.user}}</td>
          <td class="text-center">{{log.goldPillaged}}</span></td>
          <td class="text-center">{{log.casualties}}</td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td class="text-center" colspan="4">You do not have any {{type}} logged.</td>
      </tr>
    {{/if}}
      
  </tbody>
</table>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  const table = new simpleDatatables.DataTable(".history", {
    searchable: false,
    perPage: 5,
    lengthChange: false,
    sortable: true
  })
});
</script>